<!DOCTYPE html>
<html>
<head>
    <title>Firestore Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Cinémans</h1>
    <div class="movies-container">
        {% for item in data %}
            <div class="movie-card">
                <img src="{{ item.image }}" alt="{{ item.title }}" class="movie-image">
                <div class="movie-details">
                    <h2>{{ item.title }}</h2>
                    <p>Réalisateur: {{ item.director }}</p>
                    <p>Sortie: {{ item.dates | join(', ') }}</p>
                    <p>Genres: {{ item.genres | join(', ') }}</p>
                    <p>Durée: {{ item.duration if item.duration else 'N/A' }}</p>
                    <p>Séances: {{ item.showtimes | join(', ') if item.showtimes else 'N/A' }}</p>
                    <p>Versions: {{ item.versions | join(', ') if item.versions else 'N/A' }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
